@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply font-sans
    }
}

@layer components {
    .dot::after {
        content: "";
        background-color: #99a1aa;
        border-radius: 50%;
        height: 4px;
        width: 4px;
        position: absolute;
        top: 40%;
        right: -1px;
        transform: translateY(-40%);
    }

}